div#branday
  div.v6-banner-top
    a(href="#").btn
      span.abrir Abrir
      span.cerrar Cerrar

  //-div.v6-banner-flash
    object(classid='clsid:D27CDB6E-AE6D-11cf-96B8-444553540000', width='1260', height='56', id='player1', name='player1')
      param(name='movie', value='pushdown.swf')
      param(name='allowfullscreen', value='true')
      embed(id='player1',
      name='player1',
      src='media/upload/pushdown.swf'
      width='1260',
      height='56',
      allowscriptaccess='always',
      allowfullscreen='true',
      flashvars="file=playlist.xml")   